@{ ViewBag.Title = "Определить норму веса"; }
@{ ViewBag.Robots = "all"; }

@using Newtonsoft.Json
@model AnalizeResults
@{ 
    var XLabels = JsonConvert.SerializeObject(Model.Distribution?.Measurements.Select(x => x.BodyTypeName).ToList());
    var YValues = JsonConvert.SerializeObject(Model.Distribution?.Measurements.Select(y => y.Quantity).ToList());
    var Colors = JsonConvert.SerializeObject(Model.Distribution?.Measurements.Select(y => y.Color).ToList());
    var DistrName = JsonConvert.SerializeObject(Model.Distribution?.DistributionName);
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded" style="margin-top:80px; background-color: #ffffff">
        <div class="text-justify">
            <h2 class="featurette-heading" style="color:#8B4513">Калькулятор нормы</h2>
            <div>
                <p class="lead">
                    Здесь вы сможете рассчитать процент жировой ткани в вашем организме. Для чего это делается?
                    На основании этого показателя вы сможете понять тип вашего телосложения:
                    <ul class="lead">
                        <li>@BaseResults.BodyTypeZonesDescrDict[BodyType.thin]</li>
                        <li>@BaseResults.BodyTypeZonesDescrDict[BodyType.athletic]</li>
                        <li>@BaseResults.BodyTypeZonesDescrDict[BodyType.good]</li>
                        <li>@BaseResults.BodyTypeZonesDescrDict[BodyType.average]</li>
                        <li>@BaseResults.BodyTypeZonesDescrDict[BodyType.excess]</li>
                        <li>@BaseResults.BodyTypeZonesDescrDict[BodyType.extra]</li>
                    </ul>
                </p>
            </div>
            <div>
                <p class="lead">
                    Существует два типа жировой ткани в организме:
                    <ul class="lead">
                        <li>
                            подкожный (абдоминальный) жир - не опасен для здоровья
                        </li>
                        <li>
                            висцеральный жир (окружает внутренние органы) - опасен, т.к. может привести к заболеваниям
                        </li>
                    </ul>
                </p>
                <p class="lead">
                    Ниже представлены две формы ввода данных.
                    <ul class="lead">
                        <li>
                            Упрощенная форма (без показателей объемов тела) подойдет на людей,
                            которые не занимаются профессиональным спортом, то есть имеют стандартное
                            соотношение мышечной и жировой ткани в теле.
                            Упрощенная форма не определяет висцеральный жир.
                        </li>
                        <li>
                            Сложная форма (+ три дополнительных поля ввода для объемов шеи, талии и бедер) использует более сложный алгоритм подсчета,
                            и дает точный результат, так как имеет погрешность всего 2-3%, .
                            Это особенно актуально для спортсменов, чье тело может иметь большую массу, но небольшой процент жира.
                            Дополнительно, вы узнаете, не превышен ли уровень висцерального жира в организме.
                        </li>
                    </ul>
                </p>
            </div>
            <hr class="mb-4"><br>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h2 class="d-flex justify-content-between align-items-center mb-3">
                        <span style="color:#8B4513">Данные</span>
                    </h2>
                    <form method="post" action="">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Рост (см)</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputHeight)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Масса (кг)</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputWeight)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Пол</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputGender)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Возраст (лет)</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputAge)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Объем шеи (см)</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputNeck)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Объем талии (см)</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputWaist)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 lead">Объем бедер (см)</h6>
                                </div>
                                <span class="text-muted">@Html.Raw(Model.InputHips)</span>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="col-md-8 order-md-1">
                    <h2 class="mb-3" style="color:#8B4513">Введите свои показатели</h2>
                    <form method="post" action="">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="height" class="lead">Рост</label>
                                <input type="number" class="form-control" id="height" name="height" value="" placeholder="см" required="" min="12" max="250" step="0.1" />
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="weight" class="lead">Масса</label>
                                <input type="number" class="form-control" id="weight" name="weight" value="" placeholder="кг" required="" min="30" max="150" step="0.1" />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="dender" class="lead">Пол</label>
                                <select class="custom-select d-block w-100" id="gender" name="gender" required="">
                                    <option value="">Выбрать...</option>
                                    <option>Мужчина</option>
                                    <option>Женщина</option>
                                </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="age" class="lead">Возраст</label>
                                <input type="number" class="form-control" id="age" name="age" value="" placeholder="" required="" min="16" max="80" step="0.1" />
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="hardMode" name="hardMode" value="true" onclick="detailed_form();">
                            <label class="custom-control-label lead" for="hardMode">Включить детальный расчёт</label>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="neck" class="lead">Объем шеи</label>
                                <input type="number" class="form-control" disabled="disabled" id="neck" name="neck" value="" placeholder="см" required="" min="1" max="250" step="0.1" />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="waist" class="lead">Объем талии</label>
                                <input type="number" class="form-control" disabled="disabled" id="waist" name="waist" value="" placeholder="см" required="" min="1" max="250" step="0.1" />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="hips" class="lead">Объем бедер</label>
                                <input type="number" class="form-control" disabled="disabled" id="hips" name="hips" value="" placeholder="см" required="" min="1" max="250" step="0.1" />
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-secondary btn-lg btn-block" type="submit" style="color:#ffffff; background-color:#CB9447; border-color:transparent">Отправить</button>
                    </form>
                </div>
            </div>
            <br />
        </div>
        <div id="charts" class="jumbotron text-center lead" style="background-color:#F8F4F1;">
            <p style=" color:#6B4B3E"><b>@Html.Raw(Model.Recomendations)</b></p>
            <a class="stretched-link" style="visibility:@Html.Raw(Model.LinkVisibility)" href="/Interpolation/Interpolation">Перейти...</a>
            <p style=" color:#6B4B3E">@Html.Raw(Model.ViscellarFatConclusion)</p>

            <div class="chart-container">
                <div class="full-width" style="text-align:center">
                    <canvas id="myChart" style="visibility:@Html.Raw(Model.ChartVisibility); width: 400px; max-width: 600px; height: 300px; max-height: 400px; margin-top: 10px; display: inline" />
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
       var xLabels = @Html.Raw(XLabels);
       var yValues = @Html.Raw(YValues);
       var colors = @Html.Raw(Colors);
       var distrName = @Html.Raw(DistrName);
       var ctx = document.getElementById("myChart");

       var chartOptions = {
           title: {
               display: true,
               text: distrName,
           },
           legend: {
               display: false,
               position: 'bottom'
           },
            scales: {
                xAxes: [
                    {
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '% жировой ткани в организме'
                        }
                    }
                ],
            },
            elements: {
                rectangle: {
                    borderSkipped: 'left',
                }
            }
        };

        var barChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: xLabels,
                datasets: [{
                    data: yValues,
                    backgroundColor: colors
                }]
            },
            options: chartOptions
        });
    </script>



    <script>
        function detailed_form() {
            checkbox = document.getElementById('hardMode');
            inputWaist = document.getElementById('waist');
            inputNeck = document.getElementById('neck');
            inputHips = document.getElementById('hips');
            if (checkbox.checked) {
                inputWaist.disabled = false;
                inputNeck.disabled = false;
                inputHips.disabled = false;
            }
            else {
                inputWaist.disabled = true;
                inputNeck.disabled = true;
                inputHips.disabled = true;
            }
        }
    </script>

    @if (Model.Anchor != null)
    {
        <script>
             $(document).ready(function () {
                 var anchor = document.getElementById('@Model.Anchor');
                 anchor.scrollIntoView(true);
             });
        </script>
    }
</div>
